.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.pagina {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  margin-top: 10px;
}

.numeroPagina {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.container {
  display: inline-flex;
  align-items: center;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.buttonAnterior {
  width: 40px;
  height: 40px;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  border-left: 1px solid #e5e7eb;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  color: rgb(107 114 128);
  background-color: white;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.buttonProximo {
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  width: 40px;
  height: 40px;
  color: rgb(107 114 128);
  background-color: white;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.inputPagina {
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(107 114 128);
}

.buttonAnterior:hover {
  background-color: rgb(235, 230, 230);
  color: white;
}

.buttonProximo:hover {
  background-color: rgb(235, 230, 230);
  color: white;
}
